<section class="section section-forum" id="forum">
    <div [SetImage]="(content|async)?.EVENT?.Background" Mode="OurEvents"></div>
    <div class="container">
      <div class="section-forum__content-top">
        <h2 class="section-forum__heading">{{(content|async)?.EVENT?.TITLE}} {{(content|async)?.EVENT?.DATE}}</h2>
        <p class="section-forum__txt">{{(content|async)?.EVENT?.DESCRIPTION}}</p>
        <div class="section-forum__box-button"><a class="button button_accent size_14 padding_15"
            href="https://2event.com/ru/events/1852563" target="_blank">Записатися</a></div>
      </div>
      <div class="section-forum__content-bottom">
        <figure class="section-forum__figure"><img class="section-forum__picture"
            src="assets/img/archi-mirror-spray.svg" alt="glass jet Kharkiv" /></figure>
      </div>
    </div>
  </section>