<div class="section-activism__content-bottom">
  <h3 class="section-activism__heading section-activism__heading_small">дослідження “сучасний портрет харків’ян”
  </h3>
  <div class="grid grid_special_margin" *ngFor="let item of content">
    <div class="grid__item width-1-1 width-1-2-sm width-1-3-md width-1-5-lg">
      <div class="card-step"><span class="card-step__number-big">01</span>
        <p class="card-step__txt">{{(item.STATISTICS.text}}</p>
      </div>
    </div>
<!--    <div class="grid__item width-1-1 width-1-2-sm width-1-3-md width-1-5-lg">-->
<!--      <div class="card-step"><span class="card-step__number-big">02</span>-->
<!--        <p class="card-step__txt">Аналізуємо ринок праці та потреби роботодавців</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid__item width-1-1 width-1-2-sm width-1-3-md width-1-5-lg">-->
<!--      <div class="card-step card-step_special_padding-left"><span class="card-step__number-big">03</span>-->
<!--        <p class="card-step__txt">Питаємо у молоді що вона хоче вивчати</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid__item width-1-1 width-1-2-sm width-1-2-md width-1-5-lg">-->
<!--      <div class="card-step"><span class="card-step__number-big">04</span>-->
<!--        <p class="card-step__txt">Аналізуємо ринок неформальної освіти та пропозиції</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid__item width-1-1 width-1-2-md width-1-5-lg">-->
<!--      <div class="card-step"><span class="card-step__number-big">05</span>-->
<!--        <p class="card-step__txt">Презентуємо результати дослідження</p>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
